body, h1, h2, ul, li, p {
    margin: 0px;
    padding: 0px;
}  

  img {
    display: block;
    max-width: 100%;
    border-radius: 5px;
  }
  
  ul {
    list-style: none;
  }

  li {
    font-family: Comic sans MS, Verdana;
    margin-bottom: 30px;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    font-family: Comic sans MS, Verdana;
    display: grid;
    grid-template-columns: 200px 3fr 200px; 
  }